@font-face {
  font-family: "kajiro";
  src: url("./assets/Kajiro.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
}
#back{
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    /* opacity: 0.1; */
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: 20;
    /* background-color: #000000; */
}
#workingarea{
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    /* background-color: aqua; */
    /* border: 1px solid red; */
    position: relative;
}
#nav{
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nleft img{
    height: 60px;
    gap: 40px;
}
#nleft,#nright{
    display: flex;
    align-items: center;
    gap:20px;
}
#nav a,h3{
    color: #fff;
    font-family: "gilroy light";
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
    text-decoration: none;
    pointer-events: all;
}
#hero{
    width: 100%;
    /* height: 10vw; */
    position: absolute;
    top:50%;
    left:0;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: flex-end;
}
#heroleft{
    min-width: 80%;
    margin-top: 400px;
    /* background-color: yellow; */
}
#heroright{
    width: 17%;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vh 2vh;
    /* background-color: green; */
}
#paracon{
    overflow:hidden;
    height: 150px;
    width: 100%;
    position: relative;
}
#paracon p{
    position: absolute;
    top: 100%;
    font-family:"montserrat";
    right: 0;
}
#paracon p:first-child{
    top:0%; 
}
.elem{
    height: 11vw;
    position: relative;
    /* background-color: red; */
    overflow: hidden;
}
#elem2,#elem3{
    height: 9vw;
}
#heroleft .elem h1:nth-child(1){
    top:0;
}
#heroleft .elem h1 #or{
    color:orangered;
    font-family: "kajiro";
}
#heroleft .elem h1 #gr{
    color:green;
    font-family: "kajiro";
}
#heroleft .elem h1{
    position: absolute;
    top:100%;
    left:0;
    font-family: "kajiro";
    color:#fff;
    font-weight: 100;
    font-size: 9vw;
    line-height: .9;
}
#heroleft #elem1 h1{
    font-size: 13vw !important;
}
#heroleft #elem2 h1{
    font-size: 10vw !important;
}
#heroleft #elem3 h1{
    font-size: 8vw !important;
}
#heroleft button{
    padding: 1vw 3vw;
    font-size: 4vw;
    margin-top: 2vw;
    font-family: "kajiro";
    pointer-events: all;
}
#heroright p{
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}
#heroright #imagediv{
    width: 100%;
    height: 170px;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 100px;
    background: url(https://images.unsplash.com/photo-1749230950857-993a56ab46d4?q=80&w=2018&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    /* background-position: center; */
}
@media (max-width:500px) {
    #nav{
        padding: 20px 40px;
    }
    #nleft img{
    height: 50px;
    gap: 40px;
}
#nav h3{
    font-size: 35px;
}
#hero{
    width: 100%;
    /* height: 10vw; */
    position: absolute;
    top:57%;
    left:10%;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    align-items: center;
}
#heroright{
    display: none;
    width: 0%;
}
#heroleft{
    width: 100%;
}
.elem{
    height: 12vh;
    position: relative;
    /* background-color: red; */
    overflow: hidden;
}
#elem2,#elem3{
    height: 8vh;
}
#heroleft #elem1 h1{
    font-size: 13vh !important;
}
#heroleft #elem2 h1{
    font-size: 8vh !important;
}
#heroleft #elem3 h1{
    font-size: 7vh !important;
}
}